html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0 ;
  padding: 0;
  border: 0;
  font-family: sans-serif;
  box-sizing: inherit;
}



.dashboard {
  width: 100%;
  height: 20px;
}


